html {
  margin: 0px;
}

body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  min-height: 100vh;

  margin: 0px;

  font-family: Lato, Helvetica, sans-serif;
  color: rgb(10, 10, 10);
}
.no-display {
  display: none;
}

/** for form styling*/
input[type="file"] {
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 700;
  background-color: rgb(84, 0, 50);
  color: white;
  display: inline-block;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  box-sizing: border-box;
  padding: 12px 20px;
  width: 280px;
  height: 50px;
  line-height: 1.15;
  background-color: rgb(113, 198, 201);
  color: white;
  border: none;
  margin-bottom: 7px;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus {
  border: 2px solid blue;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

ul > li,
li {
  list-style-type: none;
}

li > a {
  text-decoration: none;
}

img.logo-small {
  border: 2px solid white;
  width: 50px;
  height: auto;
  border-radius: unset;
}

button {
  cursor: pointer;
}
